<!DOCTYPE html>
<html>
<head>
    <title>Увійти</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel='stylesheet' href='./stylesheets/main.css'/>
</head>
<body>
<% include ../views/layout.ejs %>

<div class="container">
    <div class="head text-center">
        <h2>Список поданих заяв</h2>
    </div>
    <hr>
    <div class="row">
        <div class="justify-content-center">
            <% if(statements.length != 0) {%>
            <table>

                <tr>
                    <th>ID заяви</th>
                    <th>Дата</th>
                    <th>Назва видання</th>
                    <th>Статус</th>
                </tr>
                <% statements.forEach(function(statement) { %>
                <tr>
                    <td><%=statement._id%></td>
                    <td>
                        <%=statement.start_reg_date%>
                    </td>
                    <td>
                        <%=statement.name %>
                    </td>
                    <td><b><%= statement.status%></b></td>
                    <td>
                        <form method="GET" action="/document/<%=statement._id%>">
                            <input type="submit" class="btn btn-success btn_statement" value="Переглянути"></form>
                    </td>
                    <% if(statement.status != "ACCEPTED") {%>
                    <td>
                        <form method="GET" action="/modify_statement/<%=statement._id%>">
                            <input type="submit" class="btn btn-success btn_modify" value="Модифікувати"></form>
                    </td>
                    <%}%>
                    <td>
                        <form method="POST" action="/delete_statement" >
                            <input type="hidden" name="statement_id" value="<%=statement._id%>">
                            <input type="submit" class="btn btn-success btn_delete" value="Видалити"></form>
                    </td>

                </tr>
                <% }); %>
            </table>
            <% } else {%>
            <h2 class="text-center" style="color: black">Немає поданих заяв.</h2>
            <%}%>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.8.0.min.js"></script>
<script src="./javascripts/index.js"></script>

</body>
</html>
