<!DOCTYPE html>
<html>
<head>
    <title>Державний реєстр</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/main.css'/>
</head>
<body>
<% include ../views/layout.ejs %>

<div class="container">
    <div class="head">
        <h2>Заява на реєстрацію друкованого засобу масової інформації</h2>
    </div>
    <div class="gov_person">
        <hr>
        <div class="row">
            <div class="col-4">
                <h4>Назва</h4>
                <%= document.name %>
            </div>
            <div class="col-4">
                <h4>Дата подачі</h4>
                <%= document.start_reg_date %>
            </div>
            <div class="col-4">
                <h4>Статус заяви</h4>
                <b><%= document.status %></b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Реєструючий орган</h4>
                <%=document.register%>
            </div>
        </div>

        <hr>
        <h4> Вид видання.</h4>
        <div class="form-group row">
            <div class="col-12">
                <%= document.type %>
            </div>
        </div>
        <hr>
        <h4>Мова видання.</h4>
        <div class="form-group row">
            <div class="col-12">
                <%= document.language %>
            </div>
        </div>
        <hr>
        <h4>Сфера розповсюдження та категорії читачів</h4>
        <div class="form-group row">
            <div class="col-9">
                <div class="row">
                    <div class="col-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Cфера розповсюдження</label>
                    </div>
                    <div class="col-5">
                        <%= document.sphere %>
                    </div>
                </div>
                <br>
                <%= document.readers_category %>
            </div>
        </div>
        <hr>
        <h4>Програмні цілі.</h4>
        <div class="form-group row">
            <div class="col-9">
                <div class="row">
                    <div class="col-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Основні принципи</label>
                    </div>
                    <div class="col-8 ">
                        <%= document.aims %>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Тематична спрямованість</label>
                    </div>
                    <div class="col-8 ">
                        <%= document.theme %>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <h4>Періодичність випуску</h4>
                <%= document.period %>
            </div>
            <div class="col-4">
                <h4>Розмір аркуша</h4>
                <%= document.paper_size %>
            </div>
            <div class="col-4">
                <h4>Обсяг видання (к-сть сторінок):</h4>
                <%= document.amount %>
            </div>
        </div>
        <hr>
        <h4>6. Місцезнаходження редакції</h4>
        <p><b>Країна: </b> <%= address.country %><br><b>Область: </b> <%= address.region %> <br><b>Населений
                пункт: </b> <%= address.locality %>
            <br><b>Вулиця: </b> <%= address.street %> <%= address.building %></p>
        <hr>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.8.0.min.js"></script>
<script src="./javascripts/index.js"></script>

</body>
</html>
